Title: Cake.Graph
---
<h1>What is it?</h1>
Cake.Graph is an alias for Cake to create a html page to allow viewing all Cake Tasks and their dependencies from Cake build scripts.

<h1>Scope</h1>
<p>The project will output files that can be used with any http server and with Wyam.</p>