@using Cake.Graph
@inherits GraphTemplate<GraphSettings>
<link rel="stylesheet" href="@Model.CssPath">

<div>
    <select id="selectTask"></select>
</div>
<div id="task-graph" class="task-graph"></div>

<script src='@Model.CytoscapeJsPath'></script>
<script src="@Model.JsPath"></script>