@using Cake.Graph
@inherits GraphTemplate<Cake.Graph.Models.GraphHtmlModel>
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>@Model.Title</title>
    <style>
        html, #task-graph {
             height: 100%;
             width: 100%;
         }

        body {
            height: 90%;
            width: 90%;
        }
    </style>
</head>
<body>
    <div id="task-graph"></div>
    <script src="@Model.JsSource"></script>
<script>
    function initialiseGraph() {
        var cy = cytoscape({
            container: document.getElementById("task-graph"),
            elements: @Raw(Model.Graph),
            layout: {
                name: "breadthfirst",
                directed: true,
                padding: 10
            },
            style: cytoscape.stylesheet()
                .selector("node")
                .css({
// ReSharper disable once InvalidValue
                    'content': "data(id)",
                    'text-valign': "center",
                    'color': "white",
                    'text-outline-width': 2,
                    'text-outline-color': "black",
                    'background-color': "black",
                    'font-size': "36px",
                    'height': "50px",
                    'width': "50px"
                })
                .selector("edge")
                .css({
                    'curve-style': "bezier",
                    'source-arrow-shape': "triangle",
                    'control-point-distance': 0
                }),
            userZoomingEnabled: false,
            userPanningEnabled: false,
            boxSelectionEnabled: false
        });
    }

    window.onload = function() {
        initialiseGraph();
    }
</script>
</body>
</html>