@using Cake.Graph
@inherits GraphTemplate<GraphSettings>
<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="@Model.CssPath">
    <title>Task Graphs</title>
</head>
<body>

<div>
    <select id="selectTask"></select>
</div>
<div id="task-graph" class="task-graph"></div>

<script src="@Model.JQueryPath"></script>
<script src='@Model.CytoscapeJsPath'></script>
<script src="@Model.JsPath"></script>
</body>
</html>